@import '_variables';

.card {
    padding: $space-generic;
    background-color: $brand-white;
    border-radius: $radius-default;
    border-bottom: 3px solid $brand-grey;

    img {
        height: 77px;
    }
}

.options {
    @include font-size(1.2);

    .label {
        display: inline-block;
        margin: $space-half 0;
        font-weight: $font-bold;
        text-transform: uppercase;
        @include font-size(0.8);
        color: $brand-grey-dark;
    }
}

.col-computer {
    margin-top: $space-generic;
    margin-left: 37.5%;
    
    .option {
        text-align: center;
        background-color: $brand-grey-light;
    }
}

.alert {
    padding: $space-half;
    margin: $space-generic 0 0 0;
    @include font-size(1.4);
    background-color: $brand-white;  
    border: $border-primary;   
    border-radius: $radius-default; 
    
    &.win {
        background-color: $brand-win;
        color: $brand-win-text;
        border-color: $brand-win-border;
    }
    &.draw {
        background-color: $brand-draw;
        color: $brand-draw-text;
        border-color: $brand-draw-border;
    }
    &.lose {
        background-color: $brand-lose;
        color: $brand-lose-text;  
        border-color: $brand-lose-border;  
    }
}

.col-actions {
    margin-top: $space-double;
    margin-bottom: $space-double;
    
    .btn {
        max-width: 140px;
        padding: 5px;
    }
}