$brand-blue: #4ea1fd!default;
$brand-red: #ff615e!default;
$brand-white: #fff!default;
$brand-black: #000!default;
$brand-grey-dark: #999!default;
$brand-grey: #ddd!default;
$brand-grey-light: #f4f8f9!default;
$brand-red: #ff491a!default;

$text-color: #fff!default;

$alert: $brand-blue;
$alert-error: $brand-red;

$palettes: (
    // alert: (
    //     warning: ,
    //     success: ,
    //     error: 
    // ),
    // grey: (
    //     base:  $_color-base-grey,
    //     light: lighten($_color-base-grey, 10%),
    //     dark: darken($_color-base-grey, 10%)
    // )
);

@function palette($palette, $tone) {
    @return map-get(map-get($palettes, $palette), $tone);
}