*, ::before, ::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%; 
}

body {
    padding: $space-generic 0;
    margin: 0;
    @include font(null, normal);
    background-color: $brand-grey-light;
}

h1, h2, h3, h4 {
    margin-top: 0;
    font-weight: $font-bold;
}

h1 {
    @include font-size(2.0);
}
h3 {
    @include font-size(1.6);    
}

button, input, textarea, select {
    @include font-size(1.2);  
}

button {
    cursor: pointer;
}

.btn {
    display: inline-block;
    width: 100%;
    color: $brand-black;
    border: 1px solid transparent;
    border-radius: $radius-default;
    background-color: $brand-primary; 
    
    &:hover, &:focus {
        background-color: $brand-grey;
    }

    &.btn-secondary {
        background-color: $brand-grey; 
        
        &:hover, &:focus {
            background-color: $brand-grey-dark;
        }   
    }
}

p {
    margin: $space-generic 0;

    &.lead {
        font-weight: $font-bold;
        @include font-size(1.4);
        color: $brand-grey-dark;
    }
}

img {
    max-width: 100%;
}

.container {  
    max-width: 700px;
    padding-right: $space-generic;
    padding-left: $space-generic;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin: 0 -$space-generic; 
    @extend %clearfix;
}

.col {
    float: left;
    width: 100%;
    padding-left: $space-generic;
    padding-right: $space-generic;
}
.col-4 {
    width: 25%;
}